<a href="https://colab.research.google.com/github/lauren-esser/Exploring_Mental_Health_with_SQL/blob/main/Mental_Health_Survey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

In [2]:
#connect to google drive
from google.colab import drive
drive.mount('/gdrive', force_remount = True)

Mounted at /gdrive

In [3]:
#move to home directory
%cd ~
%cd ..

/root
/

In [5]:
#list files in DataSets
!ls '/gdrive/My Drive/Colab Notebooks/DataSets'

chest-xray-pneumonia-jmi.zip  Megatable-2016.sql
cleaningpractice.zip	      mental_health.sqlite
dogs-vs-cats-sorted.zip       ml-latest-small
IVE_tickbidask.txt	      News_Category_Dataset_v2.json

In [14]:
#dataset saved in my google drive
con = sqlite3.connect("/gdrive/My Drive/Colab Notebooks/DataSets/mental_health.sqlite")

In [17]:
#import answer dataset
answer = pd.read_sql('Select * From Answer', con)
answer.head()

  AnswerText  SurveyID  UserID  QuestionID
0         37      2014       1           1
1         44      2014       2           1
2         32      2014       3           1
3         31      2014       4           1
4         31      2014       5           1

In [16]:
#import survey dataset
survey = pd.read_sql('Select * FROM Survey', con)
survey.head()

   SurveyID                    Description
0      2014  mental health survey for 2014
1      2016  mental health survey for 2016
2      2017  mental health survey for 2017
3      2018  mental health survey for 2018
4      2019  mental health survey for 2019

In [19]:
#import question dataset
question = pd.read_sql('Select * FROM Question', con)
question.head()

                                        questiontext  questionid
0                                  What is your age?           1
1                               What is your gender?           2
2                       What country do you live in?           3
3  If you live in the United States, which state ...           4
4                             Are you self-employed?           5

In [26]:
#merge question and answer data tables [survey not needed]
q_a = pd.read_sql('Select * FROM answer JOIN Question on answer.QuestionID = Question.questionid', con)
q_a.head()

  AnswerText  SurveyID  UserID  QuestionID       questiontext  questionid
0         37      2014       1           1  What is your age?           1
1         44      2014       2           1  What is your age?           1
2         32      2014       3           1  What is your age?           1
3         31      2014       4           1  What is your age?           1
4         31      2014       5           1  What is your age?           1